---
// 静态图片
import { Image } from "astro:assets";
// 基础 样式
import "../styles/Footer.less";
---

<footer class="vh-footer">
	<main>
		<p>
			<a href="/sitemap-index.xml" target="_blank"
				><Image
					width="1"
					height="1"
					alt="sitemap"
					src="/assets/images/footer/sitemap.svg"
				/></a
			><a href="/rss.xml" target="_blank"
				><Image
					width="1"
					height="1"
					alt="rss"
					src="/assets/images/footer/rss.svg"
				/></a
			><a
				href="https://beian.miit.gov.cn/"
				target="_blank"
				rel="noopener noreferrer"
				><Image
					width="1"
					height="1"
					alt="icp"
					src="/assets/images/footer/icp.svg"
				/></a
			>
		</p>
	</main>
</footer>
