---
// 静态图片
import { Image } from "astro:assets";
// 基础 样式
import "../styles/Footer.less";
---

<footer class="vh-footer">
	<main>
		<p>
			<a href="/sitemap-index.xml" target="_blank"
				><Image
					width="1"
					height="1"
					alt="sitemap"
					src="/assets/images/footer/sitemap.svg"
				/></a
			><a href="/rss.xml" target="_blank"
				><Image
					width="1"
					height="1"
					alt="rss"
					src="/assets/images/footer/rss.svg"
				/></a
			>
			<a
				href="#"
				target="_blank"
				rel="noopener noreferrer"
				><Image
					width="1"
					height="1"
					alt="rss"
					src="https://visitor-badge.laobi.icu/badge?page_id=Nicholas003.blog&format=true"
				/></a
			>
			<a
				href="#"
				target="_blank"
				rel="noopener noreferrer"
				><Image
					width="1"
					height="1"
					alt="rss"
					src="https://api.netlify.com/api/v1/badges/4444a400-e9bb-4668-aa5e-c6fd4105a57f/deploy-status"
				/></a
			>
		</p>
	</main>
</footer>
